# Python
*.pyc
__pycache__/

# Entorno virtual
venv/

# Base de datos local
db.sqlite3
post

# Archivos de entorno
.env

# Archivos estáticos recolectados
/staticfiles/
/media/

# Archivos del sistema
*.log
*.DS_Store
