<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Encuestas{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
</head>
<body>
    <header>
        <h1><a href="{% url 'polls:inicio' %}">Mi App de Encuestas</a></h1>
        <nav>
            <a href="{% url 'polls:listado_preguntas' %}" class="boton">Ver Encuestas</a>
            <a href="{% url 'polls:resultados_generales' %}">Resultados</a>
            <a href="{% url 'polls:crear_encuesta' %}" class="boton">Crear Encuesta</a>
            <a href="{% url 'polls:mapa' %}" class="boton">Ver Mapa</a>
            <a href="{% url 'polls:descargas' %}" class="boton">Descargas</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Lia Cruz Gaytan</p>
    </footer>
</body>
</html>
