{% extends 'polls/base.html' %}

{% block title %}Crear Nueva Encuesta{% endblock %}

{% block content %}
<h2>Crear Nueva Encuesta</h2>

{% if mensaje_error %}
  <div class="error">
    {{ mensaje_error }}
  </div>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ formulario.as_p }}

  <h3>Opciones</h3>
  {{ formulario_opciones.management_form }}
  {% for form in formulario_opciones %}
    {{ form.as_p }}
  {% endfor %}

  <button type="submit">Crear encuesta</button>
</form>

<a href="{% url 'polls:listado_preguntas' %}">Volver a la lista de encuestas</a>
{% endblock %}
